{{ define "main" }}
<header class="header">
  <div class="overlay">
    <div class="container">
      <div class="hero-content">
        <div class="welcome-to font-weight-bold">{{.Params.welcome}}</div>
        <h1 class="display-3 uppercase">{{.Params.h1}}</h1>
        <p class="lead">{{.Params.lead}}</p>
        <a href="{{.Params.cta__link}}"><button class="btn btn-outline-light btn-lg">{{.Params.cta}}</button></a>
      </div>
    </div>
  </div>
</header>
<section class="home__services py-8">
  <div class="container">
  <h2 class="home__services--heading display-4 text-center uppercase" data-aos="fade-up" data-aos-duration="800">{{.Params.h2}}</h2>
  <div class="lead home__services--subheading text-center pb-5" data-aos="fade-up" data-aos-duration="800">{{.Params.subhead2}}</div>
  <div class="row">
    <div class="col-lg-4 col-md-4 cols-sm-12 text-center my-3">
      <div class="home__services--box shadow px-0 rounded">
        <img class="img-fluid" src="{{ $.Site.BaseURL }}img/service1.jpg" alt="Card image cap">
        <div class="home__services--textbox">
          <h3 class="services__heading py-1">{{.Params.service3}}</h3>
          <p class="card-text services__descriptions p-1">{{.Params.service3__desc }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 cols-sm-12 text-center my-3">
      <div class="home__services--box shadow px-0 rounded">
        <img class="img-fluid" src="{{ $.Site.BaseURL }}img/service2.jpg" alt="Card image cap">
        <div class="home__services--textbox">
          <h3 class="services__heading py-1">{{.Params.service3}}</h3>
          <p class="card-text services__descriptions p-1">{{.Params.service3__desc }}</p>
          </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 cols-sm-12 text-center my-3">
      <div class="home__services--box shadow px-0 rounded">
        <img class="img-fluid" src="{{ $.Site.BaseURL }}img/service3.jpg" alt="Card image cap">
        <div class="home__services--textbox">
          <h3 class="services__heading py-1">{{.Params.service3}}</h3>
          <p class="card-text services__descriptions p-1">{{.Params.service3__desc }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="home__benefits pt-8 bg-light">
  <div class="container">
  <h2 class="home__benefits--heading display-4 text-center uppercase" data-aos="fade-up" data-aos-duration="800">{{.Params.h3}}</h2>
  <div class="lead home__benefits--subheading text-center pb-5" data-aos="fade-up" data-aos-duration="800">{{.Params.subhead3}}</div>
  <img src="{{ $.Site.BaseURL }}img/hero.jpg" alt="" class="benefits__img img-fluid shadow" data-aos="fade-up" data-aos-duration="800">
</div>
<section class="home__benefits-2 bg-white pb-5">
  <div class="container">
    <div class="row my-3 row-1">
      <div class="col-lg-4 col-md-4 cols-sm-12">
        <div class="icon__box d-flex flex-row" data-aos="fade-right" data-aos-duration="400">
        <div class="icon">
          <svg class="fill-brand">
            <use xlink:href="{{ $.Site.BaseURL }}img/light.svg#star"></use>
          </svg>
        </div>
          <div class="icon__box--text pl-3">
          <h3>{{.Params.benefit1}}</h3>
            <p>{{.Params.benefit1__desc}}</p>
          </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 cols-sm-12">
    <div class="icon__box d-flex flex-row" data-aos="fade-right" data-aos-duration="400">
    <div class="icon">
      <svg class="fill-brand">
        <use xlink:href="{{ $.Site.BaseURL }}img/light.svg#star"></use>
      </svg>
    </div>
      <div class="icon__box--text pl-3">
      <h3>{{.Params.benefit2}}</h3>
        <p>{{.Params.benefit2__desc}}</p>
      </div>
</div>
</div>
<div class="col-lg-4 col-md-4 cols-sm-12">
  <div class="icon__box d-flex flex-row" data-aos="fade-right" data-aos-duration="400">
  <div class="icon">
    <svg class="fill-brand">
      <use xlink:href="{{ $.Site.BaseURL }}img/light.svg#star"></use>
    </svg>
  </div>
    <div class="icon__box--text pl-3">
    <h3>{{.Params.benefit3}}</h3>
      <p>{{.Params.benefit3__desc}}</p>
    </div>
</div>
</div>
    </div>
    <div class="row my-3 row-2">
      <div class="col-lg-4 col-md-4 cols-sm-12">
        <div class="icon__box d-flex flex-row" data-aos="fade-right" data-aos-duration="400">
        <div class="icon">
          <svg class="fill-brand">
            <use xlink:href="{{ $.Site.BaseURL }}img/light.svg#star"></use>
          </svg>
        </div>
          <div class="icon__box--text pl-3">
          <h3>{{.Params.benefit4}}</h3>
            <p>{{.Params.benefit4__desc}}</p>
          </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 cols-sm-12">
    <div class="icon__box d-flex flex-row" data-aos="fade-right" data-aos-duration="400">
    <div class="icon">
      <svg class="fill-brand">
        <use xlink:href="{{ $.Site.BaseURL }}img/light.svg#star"></use>
      </svg>
    </div>
      <div class="icon__box--text pl-3">
      <h3>{{.Params.benefit5}}</h3>
        <p>{{.Params.benefit5__desc}}</p>
      </div>
</div>
</div>
<div class="col-lg-4 col-md-4 cols-sm-12">
  <div class="icon__box d-flex flex-row" data-aos="fade-right" data-aos-duration="400">
  <div class="icon">
    <svg class="fill-brand">
      <use xlink:href="{{ $.Site.BaseURL }}img/light.svg#star"></use>
    </svg>
  </div>
    <div class="icon__box--text pl-3">
    <h3>{{.Params.benefit6}}</h3>
      <p>{{.Params.benefit6__desc}}</p>
    </div>
</div>
</div>
    </div>
</div>
</section>
<section class="container py-8">
      <h2 class="text-center pb-3 uppercase">Testimonials</h2>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" class="brand-color" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active text-center py-8">
            <img src="{{ $.Site.BaseURL }}img/testimonial1.jpg" alt="Image of {{ $.Site.Title }}" class="img-fluid img-thumbnail about-img m-auto mb-2">
            <h3 class="py-2">{{.Params.testimonial1}}</h3>
            <p class="text-center w-75 m-auto">{{.Params.testimonial1__desc}}</p>
          </div>
          <div class="carousel-item text-center py-8">
            <img src="{{ $.Site.BaseURL }}img/testimonial2.jpg" alt="Image of {{ $.Site.Title }}" class="img-fluid img-thumbnail about-img m-auto">
            <h3 class="py-2">{{.Params.testimonial2}}</h3>
            <p class="text-center w-75 m-auto">{{.Params.testimonial2__desc}}</p>
          </div>
          <div class="carousel-item text-center py-8">
            <img src="{{ $.Site.BaseURL }}img/testimonial3.jpg" alt="Image of {{ $.Site.Title }}" class="img-fluid img-thumbnail about-img m-auto">
            <h3 class="py-2">{{.Params.testimonial3}}</h3>
            <p class="text-center w-75 m-auto">{{.Params.testimonial3__desc}}</p>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>
{{ end }}
